RewriteEngine On

# ریدایرکت به پوشه public بدون نمایش آن در URL
RewriteCond %{REQUEST_URI} !^/public/
RewriteRule ^(.*)$ public/$1 [L,QSA]

# جلوگیری از دسترسی مستقیم به فایل‌های حساس
<Files "*.env">
    Require all denied
</Files>

<Files "*.json">
    Require all denied
</Files>

<Files "*.txt">
    Require all denied
</Files>